body {

background-color: pink;
background-image: url("res/penguin.gif");
background-size: 10% 1%;


}

h1 {
	color: yellow;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sponge {
	margin-left: 99%
}

